# This is an attempt to Introduce the library 'Pandas' to beginners.
## All the steps can be followed sequentially

### Importing library

import pandas as pd

In [100]:
### Read dataset

orders = pd.read_table('http://bit.ly/chiporders')

In [101]:
###Check the top 5 rows

orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [102]:
###Define column names

user_cols = ['user_id', 'age', 'gender', 'occupation', 'zipcode']

users = pd.read_table('http://bit.ly/movieusers', sep = '|', header = None, names = user_cols)

In [103]:
users.head()

   user_id  age gender  occupation zipcode
0        1   24      M  technician   85711
1        2   53      F       other   94043
2        3   23      M      writer   32067
3        4   24      M  technician   43537
4        5   33      F       other   15213

In [104]:
### Read UFO dataset using read_csv
ufo= pd.read_csv('http://bit.ly/uforeports')

In [105]:
type(ufo)

pandas.core.frame.DataFrame

In [106]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [107]:
###Find type of data in a column

type(ufo['City'])

pandas.core.series.Series

In [21]:
type(ufo['Colors Reported'])

pandas.core.series.Series

In [22]:
###Structure of data

ufo.shape

(18241, 5)

In [24]:
#Have to use bracket notation while creating a variable in a Data Frame

ufo['Location'] = ufo.City + ', ' + ufo.State

In [26]:
ufo.Location.head()

0                  Ithaca, NY
1             Willingboro, NJ
2                 Holyoke, CO
3                 Abilene, KS
4    New York Worlds Fair, NY
Name: Location, dtype: object

In [28]:
###Why do some Pandas command end in Parentheses and others don't?

###Reading the movies data set

movies = pd.read_csv('http://bit.ly/imdbratings')

In [29]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [30]:
###Descriptive Statistics

movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [31]:
movies.shape

(979, 6)

In [32]:
###Data types in the movies data set

movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [33]:
#include only object type data


movies.describe(include=[object])

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,Les Miserables,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

In [34]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

In [36]:
###Column names in the movie data set

ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time',
       'Location'],
      dtype='object')

In [38]:
###Renaming Columns

ufo.rename(columns = {'Colors Reported': 'Colors_Reported', 'Shape Reported': 'Shape_Reported'}, inplace=True)

In [44]:
ufo.columns

Index(['city', 'colors reported', 'shape reported', 'state', 'time',
       'location'],
      dtype='object')

In [48]:
###Renaming columns - Process 2

ufo_cols = ['city', 'colors reported', 'shape reported', 'state', 'time']
#ufo.columns = ufo_cols

In [49]:
ufo.head()

,city,colors reported,shape reported,state,time,location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

In [50]:
###Uploading UFO data set using the created column names

ufo= pd.read_csv('http://bit.ly/uforeports', names = ufo_cols, header = 0)

In [51]:
ufo.head()

                   city colors reported shape reported state             time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [52]:
#Replace spaces with underscore at one go
ufo.columns = ufo.columns.str.replace(' ', '_')

In [53]:
ufo.columns

Index(['city', 'colors_reported', 'shape_reported', 'state', 'time'], dtype='object')

In [55]:
#How to remove columns from a Pandas data Frame?
ufo = pd.read_csv('http://bit.ly/uforeports')

In [56]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [58]:
ufo.shape

(18241, 5)

In [60]:
### Dropping variables

ufo.drop('Colors Reported', axis =1, inplace = True)

ValueError: labels ['Colors Reported'] not contained in axis

In [61]:
ufo.head()

                   City Shape Reported State             Time
0                Ithaca       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro          OTHER    NJ  6/30/1930 20:00
2               Holyoke           OVAL    CO  2/15/1931 14:00
3               Abilene           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair          LIGHT    NY  4/18/1933 19:00

In [63]:
ufo.drop(['City', 'State'], axis =1 , inplace = True)

In [64]:
###remove rows

ufo.drop([0,1], axis = 0, inplace = True)

In [65]:
ufo.head()

  Shape Reported             Time
2           OVAL  2/15/1931 14:00
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00
5           DISK  9/15/1934 15:30
6         CIRCLE   6/15/1935 0:00

In [66]:
movies = pd.read_csv('http://bit.ly/imdbratings')

In [67]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [69]:
#sort by movie titles
movies.title.sort_values(ascending=False)

864                                  [Rec]
526                                   Zulu
615                             Zombieland
677                                 Zodiac
955                       Zero Dark Thirty
535                                  Zelig
280                     Young Frankenstein
96                                 Yojimbo
235                                Yip Man
403                             Ying xiong
695                      Y Tu Mama Tambien
871                                     X2
532                     X-Men: First Class
248             X-Men: Days of Future Past
954                                  X-Men
518                         Wreck-It Ralph
970                            Wonder Boys
65             Witness for the Prosecution
920                                Witness
483                           Withnail & I
270                        Wings of Desire
497    Willy Wonka & the Chocolate Factory
127                      Wild Strawberries
219        Who's Afraid of Virginia Woolf?
669                Who Framed Roger Rabbit
33                                Whiplash
649                      Where Eagles Dare
719                When Harry Met Sally...
562            What's Eating Gilbert Grape
207       What Ever Happened to Baby Jane?
                      ...
426                              A Prophet
865                        A Perfect World
869              A Nightmare on Elm Street
883                  A History of Violence
612                     A Hard Day's Night
276                   A Fistful of Dollars
750                    A Fish Called Wanda
716                         A Few Good Men
86                      A Clockwork Orange
266                      A Christmas Story
571                           A Bronx Tale
941                       A Bridge Too Far
170                       A Beautiful Mind
203                                  8 1/2
597                                  50/50
824                                     42
427           4 Months, 3 Weeks and 2 Days
555                           3:10 to Yuma
570                                    300
225                                 3-Iron
60                                3 Idiots
708                       28 Days Later...
624                              25th Hour
596                               21 Grams
910                                   2046
110                  2001: A Space Odyssey
698                              127 Hours
201                       12 Years a Slave
5                             12 Angry Men
542                   (500) Days of Summer
Name: title, dtype: object

In [70]:
### Viewing the entire data frame after sorting
movies.sort_values('title')

,star_rating,title,content_rating,genre,duration,actors_list
542,7.8,(500) Days of Summer,PG-13,Comedy,95,"[u'Zooey Deschanel', u'Joseph Gordon-Levitt', ..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
201,8.1,12 Years a Slave,R,Biography,134,"[u'Chiwetel Ejiofor', u'Michael Kenneth Willia..."
698,7.6,127 Hours,R,Adventure,94,"[u'James Franco', u'Amber Tamblyn', u'Kate Mara']"
110,8.3,2001: A Space Odyssey,G,Mystery,160,"[u'Keir Dullea', u'Gary Lockwood', u'William S..."
910,7.5,2046,R,Drama,129,"[u'Tony Chiu Wai Leung', u'Ziyi Zhang', u'Faye..."
596,7.7,21 Grams,R,Crime,124,"[u'Sean Penn', u'Benicio Del Toro', u'Naomi Wa..."
624,7.7,25th Hour,R,Crime,135,"[u'Edward Norton', u'Barry Pepper', u'Philip S..."
708,7.6,28 Days Later...,R,Horror,113,"[u'Cillian Murphy', u'Naomie Harris', u'Christ..."
60,8.5,3 Idiots,PG-13,Comedy,170,"[u'Aamir Khan', u'Madhavan', u'Mona Singh']"
225,8.1,3-Iron,R,Crime,88,"[u'Seung-yeon Lee', u'Hyun-kyoon Lee', u'Hyuk-..."
570,7.8,300,R,Action,117,"[u'Gerard Butler', u'Lena Headey', u'David Wen..."
555,7.8,3:10 to Yuma,R,Adventure,122,"[u'Russell Crowe', u'Christian Bale', u'Ben Fo..."
427,7.9,"4 Months, 3 Weeks and 2 Days",NOT RATED,Drama,113,"[u'Anamaria Marinca', u'Vlad Ivanov', u'Laura ..."
824,7.5,42,PG-13,Biography,128,"[u'Chadwick Boseman', u'T.R. Knight', u'Harris..."
597,7.7,50/50,R,Comedy,100,"[u'Joseph Gordon-Levitt', u'Seth Rogen', u'Ann..."
203,8.1,8 1/2,NOT RATED,Drama,138,"[u'Marcello Mastroianni', u'Anouk Aim\xe9e', u..."
170,8.2,A Beautiful Mind,PG-13,Biography,135,"[u'Russell Crowe', u'Ed Harris', u'Jennifer Co..."
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
571,7.8,A Bronx Tale,R,Crime,121,"[u'Robert De Niro', u'Chazz Palminteri', u'Lil..."
266,8.1,A Christmas Story,PG,Comedy,94,"[u'Peter Billingsley', u'Melinda Dillon', u'Da..."
86,8.4,A Clockwork Orange,X,Crime,136,"[u'Malcolm McDowell', u'Patrick Magee', u'Mich..."
716,7.6,A Few Good Men,R,Drama,138,"[u'Tom Cruise', u'Jack Nicholson', u'Demi Moore']"
750,7.6,A Fish Called Wanda,R,Comedy,108,"[u'John Cleese', u'Jamie Lee Curtis', u'Kevin ..."
276,8.1,A Fistful of Dollars,R,Action,99,"[u'Clint Eastwood', u'Gian Maria Volont\xe9', ..."
612,7.7,A Hard Day's Night,APPROVED,Comedy,87,"[u'John Lennon', u'Paul McCartney', u'George H..."
883,7.5,A History of Violence,R,Crime,96,"[u'Viggo Mortensen', u'Maria Bello', u'Ed Harr..."
869,7.5,A Nightmare on Elm Street,R,Horror,91,"[u'Heather Langenkamp', u'Johnny Depp', u'Robe..."
865,7.5,A Perfect World,PG-13,Crime,138,"[u'Kevin Costner', u'Clint Eastwood', u'Laura ..."
426,7.9,A Prophet,R,Crime,155,"[u'Tahar Rahim', u'Niels Arestrup', u'Adel Ben..."
...,...,...,...,...,...,...
207,8.1,What Ever Happened to Baby Jane?,APPROVED,Drama,134,"[u'Bette Davis', u'Joan Crawford', u'Victor Bu..."
562,7.8,What's Eating Gilbert Grape,PG-13,Drama,118,"[u'Johnny Depp', u'Leonardo DiCaprio', u'Julie..."
719,7.6,When Harry Met Sally...,R,Comedy,96,"[u'Billy Crystal', u'Meg Ryan', u'Carrie Fisher']"
649,7.7,Where Eagles Dare,NaN,Action,158,"[u'Richard Burton', u'Clint Eastwood', u'Mary ..."
33,8.6,Whiplash,R,Drama,107,"[u'Miles Teller', u'J.K. Simmons', u'Melissa B..."
669,7.7,Who Framed Roger Rabbit,PG,Animation,104,"[u'Bob Hoskins', u'Christopher Lloyd', u'Joann..."
219,8.1,Who's Afraid of Virginia Woolf?,TV-MA,Drama,131,"[u'Elizabeth Taylor', u'Richard Burton', u'Geo..."
127,8.3,Wild Strawberries,UNRATED,Drama,91,"[u'Victor Sj\xf6str\xf6m', u'Bibi Andersson', ..."
497,7.8,Willy Wonka & the Chocolate Factory,G,Family,100,"[u'Gene Wilder', u'Jack Albertson', u'Peter Os..."
270,8.1,Wings of Desire,PG-13,Drama,128,"[u'Bruno Ganz', u'Solveig Dommartin', u'Otto S..."
483,7.8,Withnail & I,R,Comedy,107,"[u'Richard E. Grant', u'Paul McGann', u'Richar..."
920,7.5,Witness,R,Crime,112,"[u'Harrison Ford', u'Kelly McGillis', u'Lukas ..."
65,8.4,Witness for the Prosecution,APPROVED,Crime,116,"[u'Tyrone Power', u'Marlene Dietrich', u'Charl..."
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
518,7.8,Wreck-It Ralph,PG,Animation,101,"[u'John C. Reilly', u'Jack McBrayer', u'Jane L..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
248,8.1,X-Men: Days of Future Past,PG-13,Action,131,"[u'Patrick Stewart', u'Ian McKellen', u'Hugh J..."
532,7.8,X-Men: First Class,PG-13,Action,132,"[u'James McAvoy', u'Michael Fassbender', u'Jen..."
871,7.5,X2,PG-13,Action,134,"[u'Patrick Stewart', u'Hugh Jackman', u'Halle ..."
695,7.7,Y Tu Mama Tambien,R,Drama,106,"[u'Maribel Verd\xfa', u'Gael Garc\xeda Bernal'..."
403,7.9,Ying xiong,PG-13,Action,99,"[u'Jet Li', u'Tony Chiu Wai Leung', u'Maggie C..."
235,8.1,Yip Man,R,Action,106,"[u'Donnie Yen', u'Simon Yam', u'Siu-Wong Fan']"
96,8.4,Yojimbo,UNRATED,Action,110,"[u'Toshir\xf4 Mifune', u'Eijir\xf4 T\xf4no', u..."
280,8.1,Young Frankenstein,PG,Comedy,106,"[u'Gene Wilder', u'Madeline Kahn', u'Marty Fel..."
535,7.8,Zelig,PG,Comedy,79,"[u'Woody Allen', u'Mia Farrow', u'Patrick Horg..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
677,7.7,Zodiac,R,Crime,157,"[u'Jake Gyllenhaal', u'Robert Downey Jr.', u'M..."
615,7.7,Zombieland,R,Comedy,88,"[u'Jesse Eisenberg', u'Emma Stone', u'Woody Ha..."
526,7.8,Zulu,UNRATED,Drama,138,"[u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac..."
864,7.5,[Rec],R,Horror,78,"[u'Manuela Velasco', u'Ferran Terraza', u'Jorg..."

In [72]:
### Sorting by mutiple columns
movies.sort_values(['content_rating', 'duration'])

,star_rating,title,content_rating,genre,duration,actors_list
713,7.6,The Jungle Book,APPROVED,Animation,78,"[u'Phil Harris', u'Sebastian Cabot', u'Louis P..."
513,7.8,Invasion of the Body Snatchers,APPROVED,Horror,80,"[u'Kevin McCarthy', u'Dana Wynter', u'Larry Ga..."
272,8.1,The Killing,APPROVED,Crime,85,"[u'Sterling Hayden', u'Coleen Gray', u'Vince E..."
703,7.6,Dracula,APPROVED,Horror,85,"[u'Bela Lugosi', u'Helen Chandler', u'David Ma..."
612,7.7,A Hard Day's Night,APPROVED,Comedy,87,"[u'John Lennon', u'Paul McCartney', u'George H..."
58,8.5,Paths of Glory,APPROVED,Drama,88,"[u'Kirk Douglas', u'Ralph Meeker', u'Adolphe M..."
210,8.1,Laura,APPROVED,Film-Noir,88,"[u'Gene Tierney', u'Dana Andrews', u'Clifton W..."
656,7.7,Snow White and the Seven Dwarfs,APPROVED,Animation,88,"[u'Adriana Caselotti', u'Harry Stockwell', u'L..."
844,7.5,Pinocchio,APPROVED,Animation,88,"[u'Dickie Jones', u'Christian Rub', u'Mel Blanc']"
233,8.1,The Night of the Hunter,APPROVED,Crime,92,"[u'Robert Mitchum', u'Shelley Winters', u'Lill..."
287,8.1,His Girl Friday,APPROVED,Comedy,92,"[u'Cary Grant', u'Rosalind Russell', u'Ralph B..."
484,7.8,The Day the Earth Stood Still,APPROVED,Sci-Fi,92,"[u'Michael Rennie', u'Patricia Neal', u'Hugh M..."
451,7.9,Miracle on 34th Street,APPROVED,Comedy,96,"[u'Edmund Gwenn', u""Maureen O'Hara"", u'John Pa..."
229,8.1,Strangers on a Train,APPROVED,Crime,101,"[u'Farley Granger', u'Robert Walker', u'Ruth R..."
237,8.1,Notorious,APPROVED,Drama,101,"[u'Cary Grant', u'Ingrid Bergman', u'Claude Ra..."
521,7.8,Belle de Jour,APPROVED,Drama,101,"[u'Catherine Deneuve', u'Jean Sorel', u'Michel..."
285,8.1,Bringing Up Baby,APPROVED,Comedy,102,"[u'Katharine Hepburn', u'Cary Grant', u'Charle..."
94,8.4,Singin' in the Rain,APPROVED,Comedy,103,"[u'Gene Kelly', u""Donald O'Connor"", u'Debbie R..."
575,7.8,Kramer vs. Kramer,APPROVED,Drama,105,"[u'Dustin Hoffman', u'Meryl Streep', u'Jane Al..."
298,8.0,The Graduate,APPROVED,Comedy,106,"[u'Dustin Hoffman', u'Anne Bancroft', u'Kathar..."
866,7.5,To Catch a Thief,APPROVED,Mystery,106,"[u'Cary Grant', u'Grace Kelly', u'Jessie Royce..."
230,8.1,Cat on a Hot Tin Roof,APPROVED,Drama,108,"[u'Elizabeth Taylor', u'Paul Newman', u'Burl I..."
350,8.0,Shadow of a Doubt,APPROVED,Thriller,108,"[u'Teresa Wright', u'Joseph Cotten', u'Macdona..."
329,8.0,In the Heat of the Night,APPROVED,Crime,109,"[u'Sidney Poitier', u'Rod Steiger', u'Warren O..."
563,7.8,Goldfinger,APPROVED,Action,110,"[u'Sean Connery', u'Gert Fr\xf6be', u'Honor Bl..."
410,7.9,Bonnie and Clyde,APPROVED,Biography,111,"[u'Warren Beatty', u'Faye Dunaway', u'Michael ..."
38,8.6,Rear Window,APPROVED,Mystery,112,"[u'James Stewart', u'Grace Kelly', u'Wendell C..."
253,8.1,The Big Sleep,APPROVED,Crime,114,"[u'Humphrey Bogart', u'Lauren Bacall', u'John ..."
896,7.5,From Russia with Love,APPROVED,Action,115,"[u'Sean Connery', u'Robert Shaw', u'Lotte Lenya']"
65,8.4,Witness for the Prosecution,APPROVED,Crime,116,"[u'Tyrone Power', u'Marlene Dietrich', u'Charl..."
...,...,...,...,...,...,...
652,7.7,This Is England,UNRATED,Crime,101,"[u'Thomas Turgoose', u'Stephen Graham', u'Jo H..."
144,8.2,It Happened One Night,UNRATED,Comedy,105,"[u'Clark Gable', u'Claudette Colbert', u'Walte..."
291,8.1,The Return,UNRATED,Drama,105,"[u'Vladimir Garin', u'Ivan Dobronravov', u'Kon..."
523,7.8,Repulsion,UNRATED,Drama,105,"[u'Catherine Deneuve', u'Ian Hendry', u'John F..."
123,8.3,The General,UNRATED,Action,107,"[u'Buster Keaton', u'Marion Mack', u'Glen Cave..."
472,7.8,Guess Who's Coming to Dinner,UNRATED,Comedy,108,"[u'Spencer Tracy', u'Sidney Poitier', u'Kathar..."
757,7.6,Funny Games,UNRATED,Crime,108,"[u'Susanne Lothar', u'Ulrich M\xfche', u'Arno ..."
96,8.4,Yojimbo,UNRATED,Action,110,"[u'Toshir\xf4 Mifune', u'Eijir\xf4 T\xf4no', u..."
687,7.7,Spellbound,UNRATED,Film-Noir,111,"[u'Ingrid Bergman', u'Gregory Peck', u'Michael..."
582,7.8,Sabrina,UNRATED,Comedy,113,"[u'Humphrey Bogart', u'Audrey Hepburn', u'Will..."
823,7.5,Straw Dogs,UNRATED,Crime,113,"[u'Dustin Hoffman', u'Susan George', u'Peter V..."
239,8.1,Elite Squad: The Enemy Within,UNRATED,Action,115,"[u'Wagner Moura', u'Irandhir Santos', u'Andr\x..."
161,8.2,Diabolique,UNRATED,Horror,116,"[u'Simone Signoret', u'V\xe9ra Clouzot', u'Pau..."
317,8.0,Dawn of the Dead,UNRATED,Horror,127,"[u'David Emge', u'Ken Foree', u'Scott H. Reini..."
802,7.6,Tell No One,UNRATED,Crime,131,"[u'Fran\xe7ois Cluzet', u'Marie-Jos\xe9e Croze..."
217,8.1,Memories of Murder,UNRATED,Crime,132,"[u'Kang-ho Song', u'Sang-kyung Kim', u'Roe-ha ..."
262,8.1,The Hustler,UNRATED,Drama,134,"[u'Paul Newman', u'Jackie Gleason', u'Piper La..."
289,8.1,All Quiet on the Western Front,UNRATED,Drama,136,"[u'Lew Ayres', u'Louis Wolheim', u'John Wray']"
526,7.8,Zulu,UNRATED,Drama,138,"[u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac..."
730,7.6,West Side Story,UNRATED,Crime,152,"[u'Natalie Wood', u'George Chakiris', u'Richar..."
257,8.1,Anatomy of a Murder,UNRATED,Crime,160,"[u'James Stewart', u'Lee Remick', u'Ben Gazzara']"
120,8.3,The Great Escape,UNRATED,Adventure,172,"[u'Steve McQueen', u'James Garner', u'Richard ..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
486,7.8,Evil Dead II,X,Comedy,84,"[u'Bruce Campbell', u'Sarah Berry', u'Dan Hicks']"
913,7.5,Suspiria,X,Horror,92,"[u'Jessica Harper', u'Stefania Casini', u'Flav..."
387,8.0,Midnight Cowboy,X,Drama,113,"[u'Dustin Hoffman', u'Jon Voight', u'Sylvia Mi..."
86,8.4,A Clockwork Orange,X,Crime,136,"[u'Malcolm McDowell', u'Patrick Magee', u'Mich..."
187,8.2,Butch Cassidy and the Sundance Kid,NaN,Biography,110,"[u'Paul Newman', u'Robert Redford', u'Katharin..."
936,7.4,True Grit,NaN,Adventure,128,"[u'John Wayne', u'Kim Darby', u'Glen Campbell']"
649,7.7,Where Eagles Dare,NaN,Action,158,"[u'Richard Burton', u'Clint Eastwood', u'Mary ..."

In [73]:
movies = pd.read_csv('http://bit.ly/imdbratings')

In [74]:
movies.shape

(979, 6)

In [75]:
### Filtering
booleans = []
for l in movies.duration:
    if l >= 200:
        booleans.append(True)
    else :
        booleans.append(False)

In [76]:
booleans[0:10]

[False, False, True, False, False, False, False, True, False, False]

is_long= pd.Series(booleans)
is_long = movies.duration >= 200

In [79]:
len(is_long)

979

In [80]:
is_long.head()

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [82]:
movies[is_long]

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."

In [83]:
### Alternatively, this is the actual method to apply filters
movies[movies.duration >= 200]

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."

In [84]:
###Selecting only the genre column for filters

movies[movies.duration >= 200].genre

2          Crime
7      Adventure
17         Drama
78         Crime
85     Adventure
142    Adventure
157        Drama
204    Adventure
445    Adventure
476        Drama
630    Biography
767       Action
Name: genre, dtype: object

In [87]:
### Applying multiple filters

movies[(movies.duration >= 200) & (movies.genre=='Drama')] #and 
movies[(movies.duration >= 200) | (movies.genre=='Drama')] #or

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
32,8.6,Casablanca,PG,Drama,102,"[u'Humphrey Bogart', u'Ingrid Bergman', u'Paul..."
33,8.6,Whiplash,R,Drama,107,"[u'Miles Teller', u'J.K. Simmons', u'Melissa B..."
41,8.5,Sunset Blvd.,NOT RATED,Drama,110,"[u'William Holden', u'Gloria Swanson', u'Erich..."
47,8.5,Taare Zameen Par,PG,Drama,165,"[u'Darsheel Safary', u'Aamir Khan', u'Tanay Ch..."
50,8.5,Cinema Paradiso,R,Drama,155,"[u'Philippe Noiret', u'Enzo Cannavale', u'Anto..."
51,8.5,Apocalypse Now,R,Drama,153,"[u'Martin Sheen', u'Marlon Brando', u'Robert D..."
53,8.5,The Prestige,PG-13,Drama,130,"[u'Christian Bale', u'Hugh Jackman', u'Scarlet..."
56,8.5,The Lives of Others,R,Drama,137,"[u'Ulrich M\xfche', u'Martina Gedeck', u'Sebas..."
58,8.5,Paths of Glory,APPROVED,Drama,88,"[u'Kirk Douglas', u'Ralph Meeker', u'Adolphe M..."
67,8.4,American Beauty,R,Drama,122,"[u'Kevin Spacey', u'Annette Bening', u'Thora B..."
72,8.4,Rang De Basanti,NOT RATED,Drama,157,"[u'Aamir Khan', u'Soha Ali Khan', u'Siddharth']"
73,8.4,Jodaeiye Nader az Simin,PG-13,Drama,123,"[u'Peyman Moaadi', u'Leila Hatami', u'Sareh Ba..."
74,8.4,Citizen Kane,APPROVED,Drama,119,"[u'Orson Welles', u'Joseph Cotten', u'Dorothy ..."
77,8.4,Oldeuboi,R,Drama,120,"[u'Min-sik Choi', u'Ji-tae Yu', u'Hye-jeong Ka..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
83,8.4,To Kill a Mockingbird,NOT RATED,Drama,129,"[u'Gregory Peck', u'John Megna', u'Frank Overt..."
84,8.4,Requiem for a Dream,R,Drama,102,"[u'Ellen Burstyn', u'Jared Leto', u'Jennifer C..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
87,8.4,Bicycle Thieves,NOT RATED,Drama,93,"[u'Lamberto Maggiorani', u'Enzo Staiola', u'Li..."
89,8.4,Swades,NOT RATED,Drama,189,"[u'Shah Rukh Khan', u'Gayatri Joshi', u'Kishor..."
...,...,...,...,...,...,...
875,7.5,Rust and Bone,R,Drama,120,"[u'Marion Cotillard', u'Matthias Schoenaerts',..."
877,7.5,Legends of the Fall,R,Drama,133,"[u'Brad Pitt', u'Anthony Hopkins', u'Aidan Qui..."
879,7.5,The Constant Gardener,R,Drama,129,"[u'Ralph Fiennes', u'Rachel Weisz', u'Hubert K..."
886,7.5,Pi,R,Drama,84,"[u'Sean Gullette', u'Mark Margolis', u'Ben She..."
887,7.5,The Devil's Backbone,R,Drama,106,"[u'Marisa Paredes', u'Eduardo Noriega', u'Fede..."
889,7.5,Devil's Advocate,R,Drama,144,"[u'Keanu Reeves', u'Al Pacino', u'Charlize The..."
895,7.5,Biutiful,R,Drama,148,"[u'Javier Bardem', u'Maricel \xc1lvarez', u'Ha..."
897,7.5,Calvary,R,Drama,102,"[u'Brendan Gleeson', u""Chris O'Dowd"", u'Kelly ..."
901,7.5,Babel,R,Drama,143,"[u'Brad Pitt', u'Cate Blanchett', u'Gael Garc\..."
904,7.5,Sweeney Todd: The Demon Barber of Fleet Street,R,Drama,116,"[u'Johnny Depp', u'Helena Bonham Carter', u'Al..."
910,7.5,2046,R,Drama,129,"[u'Tony Chiu Wai Leung', u'Ziyi Zhang', u'Faye..."
914,7.5,The Judge,R,Drama,141,"[u'Robert Downey Jr.', u'Robert Duvall', u'Ver..."
916,7.5,Up in the Air,R,Drama,109,"[u'George Clooney', u'Vera Farmiga', u'Anna Ke..."
917,7.5,Begin Again,R,Drama,104,"[u'Keira Knightley', u'Mark Ruffalo', u'Adam L..."
922,7.5,Mud,PG-13,Drama,130,"[u'Matthew McConaughey', u'Tye Sheridan', u'Ja..."
923,7.5,Across the Universe,PG-13,Drama,133,"[u'Evan Rachel Wood', u'Jim Sturgess', u'Joe A..."
925,7.5,Notes on a Scandal,R,Drama,92,"[u'Cate Blanchett', u'Judi Dench', u'Andrew Si..."
926,7.5,Inside Llewyn Davis,R,Drama,104,"[u'Oscar Isaac', u'Carey Mulligan', u'John Goo..."
939,7.4,Predestination,R,Drama,97,"[u'Ethan Hawke', u'Sarah Snook', u'Noah Taylor']"
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
945,7.4,Take Shelter,R,Drama,120,"[u'Michael Shannon', u'Jessica Chastain', u'Sh..."
946,7.4,Far from Heaven,PG-13,Drama,107,"[u'Julianne Moore', u'Dennis Quaid', u'Dennis ..."
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ..."
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
958,7.4,My Sister's Keeper,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."

###Selecting multiple genres

movies[movies.genre.isin(['Crime', 'Drama', 'Action'])]